.siderAppContainer {
    min-height: 100vh;
}

.logo {
    display: flex;
    justify-content: center;
    background-color: #fff;
}

.logo .image {
    height: 66px;
    width: 66px;
    transition: .3s;
    border: 1px solid white;
}

.sizeIconSider {
    font-size: 20px !important;
}
