.formInputBasicInfo {
    margin-bottom: 15px;
}

.formInputBasicInfo input {
    height: 35px !important;
    margin-top: 5px;
    border-radius: 5px;
    width: 100%;
}

.ant-select-selector {
    margin-top: 5px;
    height: 35px !important;
    border-radius: 5px !important;
}

textarea.ant-input {
    border-radius: 5px;
}
