.headerContainer {
    height: 66px;
    background-color: white;
}

.trigger {
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
}

.trigger:hover {
    color: #1890ff;
}

.ant-layout-header {
    background: #DEF1FF !important;
}

.title {
    color: #1890ff;
}

.col2 {
    display: flex;
    justify-content: flex-end;
}

.row1 {
    min-width: 300px;
}

.contentColHeaderRight {
    cursor: pointer !important;
    display: flex !important;
    align-items: center !important;
}

.col2_row1 {
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
}

.sizeIconGlobal {
    font-size: 30px;
    color: #004072 !important;
}

.sizeIconMenu {
    width: 12px;
    height: 8px;
    color: #333333;
    margin-bottom: 10px;
}

/* Tab and ipad */
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
    .row1 {
        min-width: 100px;
    }
}

/* mobile */
@media only screen and (max-width: 50em) {
    .col2 {
        display: none;
    }
}
